In [105]:
import dataservices as ds
import pandas as pd

In [13]:
aa = a[a['provience']==5]
aa.groupby(['title_en'])['title_en']

In [25]:
a.groupby('provience').sum()[['active','recovered','death']]

           active  recovered  death
provience
1              37         17      0
2             133          2      0
3              20          6      1
4               4          2      0
5             172          1      1
6               1          0      0
7               0          5      0

In [49]:
data = aa.groupby('title_en').sum()[['active','recovered','death']]
data.head()

            active  recovered  death
title_en
Banke           92          0      1
Bardiya          2          0      0
Dang             4          0      0
Gulmi            1          0      0
Kapilbastu      46          0      0

In [48]:
for index, row in data.iterrows():
    print(row['active'], row['death'])

92 1
2 0
4 0
1 0
46 0
27 0

In [106]:
def ard(proviene, code):
    df = ds.create_covid_df()
    s = pd.get_dummies(df.currentstate)
    a = pd.concat([df,s],axis=1)
    prov = a[a['provience']==proviene]
    if(code == 'district'):
        dat = "Affected Districts Provience: "+str(proviene)+"\n"
        data = prov.groupby('title_en').sum()[['active','recovered','death']]
    else:
        dat = "Affected VDC/MUN Provience: "+str(proviene)+"\n"
        data = prov.groupby('title').sum()[['active','recovered','death']]
        
    print(data)
    for index, row in data.iterrows():
        total = row['active']+row['recovered']+row['death']
        dat+=""+str(index)+" "+str(total)+" ("+str(row['recovered'])+") - "+str(row['death'])+"\n"    
    
    return(dat) 

def ard(proviene):
    df = ds.create_covid_df()
    s = pd.get_dummies(df.currentstate)
    a = pd.concat([df,s],axis=1)
    prov = a[a['provience']==proviene]
    data = prov.sum()[['active','recovered','death']]   
    ret = "Province "+str(proviene)+" Total: "+str(data[0]+data[1]+data[2])+" | Recovered: "+str(data[1])+" |Death: "+str(data[2])+" \n"    
    return(ret)

In [107]:
m = ard(2)
m

'Province 2 Total: 135 | Recovered: 2 |Death: 0 \n'